{% extends 'base.html' %}
{% load static %}
{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="new">
        <h2><a href="{%url 'main:new'%}">글 쓰기</a></h2>
    </div>

    {% if user.is_authenticated %}
    <h2>글 목록</h2>
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></h2>
            {% if post.writer %}
                {% if 'user' in post.writer.username %}
                    <h5>작성자 : {{ post.writer.last_name }} {{ post.writer.first_name }}</h5>
                {% else %}
                    <h5>작성자 : {{ post.writer }}</h5>
                {% endif %}
            {% else %}
                <h5>작성자 : 알 수 없음</h5>
            {% endif %}
            <h5>{{post.pub_date}}</h5>
            <br>
            <p>{{post.summary}}</p>
            <br>
        </div>
        {% endfor %}
    </div>    
    {% else %}
    <div class="nonmessage">
        <h4>로그인을 먼저 해주세요.</h4>
    </div>
    {% endif %}
    
    <div class="index_message">
        <h4>혹시라도 제가 궁금하신거라면 메뉴의 'tmi보러가기'로 이동해주세요.</h4>
    </div>
</section>
{% endblock %}